html, body {
    margin-top: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
}
body, .contact-input, .contact-textarea  {
    font-family: 'Poppins', sans-serif;
    padding-top: 8vh;
}

.fixed-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    align-self: center;
    z-index: 1;
    padding: 0px;
    height: 10vh;
}
/* 
main {
    padding: 8vh;
} */

.contact-page {
    min-height: 100vh;
    max-width: 900px;
    overflow: auto;
    margin: 0 auto;
}
.contact-form-section {
    display: flex;
    width: 800px;
    padding: 30px;
    margin: 0 auto;

}
.contact-image {
    transform: rotate(90deg);
    width: 900px;
    margin-left: -60px;
    z-index: -1;
}
.contact-form-heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.contact-form-heading span {
    color: #007000;
}
.contact-form-intro {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.contact-input {
    display: block;
    width: 300px;
    margin: 5px auto 15px;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 1rem;
    border: 2px solid #333333;
}
.contact-textarea {
    max-width: 300px;
    margin: 5px auto 15px;
    padding: 16px 20px;
    border: 2px solid #333333;
    border-radius: 20px;
}
.contact-input::-webkit-input-placeholder, .contact-textarea::-webkit-input-placeholder {
    color: #555555;
}
.contact-submit-button {
    border: 2px solid #333333;
    padding: 8px 20px;
    border-radius: 40px;
    margin: 10px auto 0;
    width: 200px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.contact-submit-button:hover {
    background-color: #dddddd;
}

footer {
    margin-left: 40px;
    font-size: 1rem;
    padding-bottom: 50px;
}

.egg {
    width: 100px;
    opacity: 0%;
}

.egg:focus {
    opacity: 100%;
    width: 100px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
ul {
    flex-direction: column;
  }
}

/* 
Challenge: Identify all accessibility issues using all your newly aquired knowledge.

Write them down here:
- overflow: hidden on .contact-page
- No visible focus styles
- Placeholders used instead of labels
- Low contrast placeholder text
- Hover-only button styles
- Fixed widths everywhere
- missing alt text 
- lack of proper labeling 

*/